 
.container-fluid{
    padding: 8% 5%;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    /* background-color: #000814; */
    background-color: #001424;
    

 
}

h4{
    font-size: clamp(0.9rem, 1.1vw, 1rem); 
    padding: 20px 0;
}
#contactForm{
 
    width: 50%;
    height: 100%;
    /* background-color: #0d1b2a; */
    background-color: #192834;
    margin: auto auto; /* permet de center */
    padding: 50px ;
    animation: FadeIN 1s linear normal ;
}

.form-row{
    display: flex;
    flex-flow: row wrap;
    /* gap: 10%; */
    justify-content: space-between;
   
}

.form-row .item {
    min-width: 100px;
    max-width: auto;
}



.btn{
    width: 25%;
    /* background-color: #003566; */
    background-color: #01497C;
    color: white;
}
@keyframes FadeIN {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media(max-width : 1144px){

    #contactForm{
       
        width: 70%;
        height: 100%;
        margin: 10% auto; 
    }

    /* .mail input {
 
        max-width: 210px;
       
    } */

    .btn{
        width: 100px;
 
    }
}

@media(max-width :814px){

    #contactForm{
        margin: 10% auto; 
        width: auto;
    }
}

@media(max-width :578px){

     .mail input {
 
        max-width: 210px;
       
    }
}