 
.container-fluid{
    padding: 8% 5%;
    margin: 0;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color:  #0d1b2a;

 
}

h4{
    font-size: clamp(0.9rem, 1.1vw, 1.1rem); 
    padding: 10px 0;
}
#contactForm{
 
    width: 50%;
    height: 100%;
}

