<div class="section s1 py-5   ">
    <div class="container-fluid p-lg-5 py-5">
        <div class="row p-0 r1">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-s1-g p-0">
                 <div class="gestion_0 col-3 col-sm-6 col-md-6 col-lg-4  ">
                     <img src="/assets/images/mesCreations/gestion_0.PNG" class="card-img-s1-0 " alt="Paris" >
                </div>
                <div class="text-gestion col-6 col-sm-6 col-md-6 col-lg-8 ">
                    <h4 class =""> Application Gestion des Ressources Humaines </h4>
                    <a class ="learn "  href=""> En savoir plus >> </a>
                </div>
                <!-- <div class="col-3">

                </div> -->
            </div>
            <!-- <div class="col-6 col-s1-d p-0" style="background-color: azure"> -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-s1-d p-0  " >
                <div class="parent-s1" >
                    
                    <!-- <div class="img1"> 
                       
                    </div> -->
                    <img src="/assets/images/mesCreations/gestion_3.PNG" class="card-img-s1-2" alt="Paris" >
                    <img src="/assets/images/mesCreations/gestion_4.PNG" class=" card-img-s1-1  " alt="Paris" >
                    <!-- <div class="img2"> 
                      
                    </div> -->

                   
                    
                    <!-- <div class="child">
                       
                       
                    </div> -->
                    <!-- <div class="parent">
                        <div class="child1"></div>
                        <div class="child1 child2"></div>
                    </div> -->
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section s2 py-5">
    <div class="container-fluid  p-lg-5 " >
        <div class="row  p-0" >
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-s2-g p-0">
                <div class=" col-3 col-sm-6 col-md-6 col-lg-4 logometeo">
                    <img src="/assets/images/mesCreations/weather_app2.png" class="card-img-s2-0" alt="Paris" >
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-8 text-meteo">
                    <h4> Application méteo France gratuite</h4>
                    <a class ="learn1"  href=""> En savoir plus >> </a>
                </div>
            </div>
 
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  col-s2-d p-0">
                <div class="parent-s2">
                    <img src="/assets/images/mesCreations/meteo_ecran_1.PNG" class="card-img-s2-1" alt="Paris" >
                    <img src="/assets/images/mesCreations/meteo_ecran_2.PNG" class="card-img-s2-2" alt="Paris" >
 
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- <div class="border p-1 mt-3" style="height:155px;">
    <div class="h-25 bg-primary" style="display:inline-block; width: 55px;">
       .h-25
    </div>
    <div class="h-50 bg-secondary" style="display:inline-block; width: 55px;">
       .h-50
    </div>
    <div class="h-75 bg-info" style="display:inline-block; width: 55px;">
       .h-75
    </div>
    <div class="h-100 bg-danger" style="display:inline-block; width: 55px;">
       .h-100
    </div>
    <div class="h-auto bg-success" style="display:inline-block; width: 70px;">
       .h-auto
    </div>
 </div> -->

 <!-- <div class="row">
    <div class=" col-6 divparent ">
        <div class="divenfant1">

        </div>
        <div class="divenfant2">
            
        </div>

    </div>
    <div class="col-6 divparent" style="background-color: blueviolet">
        <div class="divenfant1">

        </div>
        <div class="divenfant2">
            
        </div>
    </div>
 </div> -->




<!-- <div class="mon_div"> Mon div </div> -->

<!-- <div class="section s3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 col-s2-d p-0" style="background-color: rgb(41, 118, 118)">
                <img src="/assets/images/entete_software.jpg" class="card-img-top" alt="Paris" >
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="parent">
    <div class="child1"></div>
    <div class="child1 child2"></div>
</div> -->


 


<!-- 
<div class="container-fluid px-5">
<div class="row  g-5">
    <div class="col-md-6">
    <div class="card py-0" style="background-color: blueviolet;">
        <div class="card-header py-3" style="text-align: center; background-color: rgb(20, 128, 223);">
            MAIF – NIORT
       </div>
        <img src="/assets/images/entete_software.jpg" class="card-img-top py-0" alt="Paris" >
  
        <div class="card-body "style="background-color: red;">
        <h5 class="card-title"style="background-color: yellow">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </div>
</div>
</div> -->