<div class="section s1">
    <div class="container-fluid px-lg-5 px-md-5 px-sm-5 px-2  ">
    <!-- <div class="container-fluid px-5 "> -->
        <div class="row r">
            <div class="col-sm-12 col-md-12 col-lg-6 s1-r1">
                <h4>Experiences</h4>
                <!-- debut card maif  -->
                <div class="card  s1-r1-c mb-3 my-3 " >
                <div class="card-header s1-r1-c" style="text-align: center;">
                     MAIF – NIORT
                </div>
                <div class="card-body">
                    <h5 class="card-title text-muted"> 06/2022 – 08/2022 </h5>
                    <p class="card-text mx-3">
                    Au sein du centre de service, assurer la TMA (tierce-maintenance applicative)
                    ainsi que la gestion de versions. </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                <ul class="list-group mx-5">
                    <li class="list-group-item">Prise en charge des incidents de production et d'évolutions/projets</li>
                    <li class="list-group-item">Réaliser le premier niveau d’analyse dans le cadre de 
                                                la tierce maintenance applicative</li>
                    <li class="list-group-item">Suivi de gestion de versions via l’outil SVN (Création de Branche,
                                                Livraison & MAJ et Création du Lot de prod)</li>
                    <li class="list-group-item">Réaliser régulièrement le reporting des activités TMA et GDV.</li>
                </ul>
                <div class="card-footer ">
                    Environnement Technique : Java 7, SVN, Jenkins, Sonar, DBeaver,Oracle SQL developer et Apache Tomcat
                    </div>
                </div>
                <!-- fin card maif  -->
               
                <!-- debut card covea  -->
                <div class="card  mb-3 my-5 " >
                    <div class="card-header " style="text-align: center;">
                        COVEA (GMF) – LEVALLOIS-PERRET      
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-muted"> 03/2018 – 02/2022  </h5>
                        <p class="card-text mx-3">
                            Au sein de l’équipe décisionnel, assurer la conception et le développement de plusieurs 
                            projets IARD (Cycle en V) ainsi que le run de l’application dans le cas de la mise en place 
                            de datamarts pour la direction IARD
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <ul class="list-group mx-5">
                        <li class="list-group-item">Conception et réalisation de jeux de test (unitaire et intégration)</li>
                        <li class="list-group-item">Développement et modification de programmes BATCH et JCL</li>
                        <li class="list-group-item">Test et développements de programmes SAS</li>
                        <li class="list-group-item">Rédaction de la documentation des développements effectués</li>
                        <li class="list-group-item">Participation au suivi de la recette et de la montée en production</li>
                        <li class="list-group-item">Intervention à chaud : Prise en charge des incidents de production,
                                                    gestion de fiches incidentes </li>
                        <li class="list-group-item">Maintenance évolutives et correctives, Maintenance à chaud dans le cas des 
                                                    incidents de production via Jira </li>
                    </ul>
                    <div class="card-footer ">
                        Environnement Technique : OS/390, TSO/ISPF, COBOL, MVS, DB2, FILEZILA et SAS
                        </div>
                    </div>
                    <!-- fin card maif  -->
            </div>
            <!-- Debut  card formation  -->
            <div class="col-sm-12 col-md-12 col-lg-6">
                <h4>Formations</h4>
              <div class="card mb-3 my-3">
                <div class="card-header " style="text-align: center;">
                     FORMATION INTENSIVE JAVA  & ANGULAR
                </div>
                <div class="card-body">
                  <h5 class="card-title text-muted"> 03/2022 – 02/2022 </h5>
                  <p class="card-text"> Les Fondamentaux (Spring Essentials, Hibernate Essentials,Angular ...) </p>
               
                </div>
              </div>
              <div class="card  mb-3 my-5">
                <div class="card-header " style="text-align: center;">
                    FORMATION SAS   
                </div>
                <div class="card-body">
                  <h5 class="card-title text-muted"> 2018 (3 jours) </h5>
                  <p class="card-text">Programmation SAS 1 : Fondamentaux </p>
               
                </div>
              </div>
              <div class="card   mb-3 my-5">
                <div class="card-header " style="text-align: center;">
                    FORMATION MAINFRAME IBM/COBOL 
                </div>
                <div class="card-body">
                  <h5 class="card-title text-muted"> 2017 (2 mois) </h5>
                  <p class="card-text">Formation Mainframe IBM/COBOL et Qualification logiciel :
                    Formation de base et avancée </p>
               
                </div>
              </div>
              <div class="card   mb-3 my-5">
                <div class="card-header " style="text-align: center;">
                    Université Paris Diderot – PARIS 
                </div>
                <div class="card-body">
                  <h5 class="card-title text-muted"> 2015 – 2017 </h5>
                  <p class="card-text"> Master chimie dirigée vers les nanosciences et l’énergie </p>
               
                </div>
              </div>
            </div>
            <!-- fin  card formation  -->
          </div>
    </div>
</div>

<!-- Section 2 -->
<div class="section s2">
    <div class="container-fluid px-lg-5 px-md-5 px-sm-5 px-5 ">
    <!-- <div class="container-fluid px-5 ">  -->
        <h1 style="text-align: center"> COMPETENCES TECHNIQUES  </h1>
        <!-- Bloc 1 -->
        <div class="row r1 py-5">
            <!-- bloc 1 gauche -->
            <div class="col-12 col-sm-12 col-md-8 col-lg-7  s2-r1-col-g py-4 offset-1"> 
                <!-- <div class="row " style="background-color: red;">
                    <div class="col-4 " style="background-color: rgb(170, 255, 0);">
                        <p >  Test  </p>
                    </div>
                    <div class="col-3 " style="background-color: rgb(30, 0, 255);">
                        <i class="fa fa-star fa-fw" aria-hidden="true" ></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>      
                    </div>
                </div>          -->
                 <!-- <div class="row " style="background-color: red;">
                    <div class="col-4 " style="background-color: rgb(170, 255, 0);">
                        <p >  Test  </p>
                    </div>
                    <div class="col-5 " style="background-color: rgb(30, 0, 255);">
                        <div class="progress"style="height: 1.8vh;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>   
                    </div>
                 </div>          -->
                <div class="row " >
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 ">
                        <p>Hibernate</p>
                    </div>
                    <!-- <div class="col-3" >
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 25%"></div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p> Spring & Spring Boot  </p>
                    </div>
                    <!-- <div class="col-3">
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 25%"></div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p>  Junit </p>
                    </div>
                    <!-- <div class="col-3">
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"
                             style="width: 15%"></div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p> Angular</p>
                    </div>
                    <!-- <div class="col-3">
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 25%"></div>
                        </div>   
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p>  Bootstrap </p>
                    </div>
                    <!-- <div class="col-3">
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 35%"></div>
                        </div>   
                    </div>
                </div>
            </div>
            <!-- fin bloc 1 gauche -->

            <!-- debut bloc 1 droite -->
            <div class="col-12  col-sm-12 col-md-3 col-lg-4 s2-r1-col-d" >
                    <h4 > FRAMEWORKS </h4>
            </div>
             <!-- fin bloc 1 droite -->
        </div>
        <!-- fin bloc 1 -->

        <!-- Debut Bloc 2 -->
        <div class="row r2 py-2">
            <!-- Debut bloc 2 gauche -->
            <div class="col-12  col-sm-12 col-md-2 col-lg-3 s2-r2-col-g offset-1" >
            <!-- <div class="col-3 s2-r2-col-g offset-1" > -->
                <h4 > LANGAGES </h4>
            </div>
            <!-- fin bloc 2 gauche  -->

            <!-- Debut bloc 2 droite -->
            <div class="col-12 col-sm-12 col-md-7 col-lg-6 s2-r2-col-d offset-2">
            <!-- <div class="col-6 s2-r2-col-d offset-2"> -->
                <!-- <div class="row rowz" style="background-color: red;">
                    <div class=" col-4 " style="background-color: rgb(170, 255, 0);">
                        <p class ="">
                            TestqQSQq
                        </p>
                    </div>
                    <div class="col-4 " style="background-color: rgb(30, 0, 255);">
                        <div class=" offset-1z  " style="background-color: coral"> 
                            <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                            <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                            <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                            <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                            <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <!-- <div class="col-4 ">  -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 ">
                        <p> Java</p>
                    </div>
                    <!-- <div class="col-3 ">           
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                    </div> -->
                    <!-- <div class="col-6 "> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 25%"></div>
                        </div>   
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p>TypeScript</p>
                    </div>
                    <!-- <div class="col-3 "> 
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                             style="width: 25%"></div>
                        </div>   
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p> HTML & CSS </p>
                    </div>
                    <!-- <div class="col-3 "> 
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                             style="width: 45%"></div>
                        </div>   
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p>  SQL</p>
                    </div>
                    <!-- <div class="col-3 ">
                        <i class="fa fa-star fa-fw " aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"
                             style="width: 35%"></div>
                        </div>   
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p>Cobol</p>
                    </div>
                    <!-- <div class="col-3 "> 
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw"  aria-hidden="true"></i>
                        <i class="fa fa-star-half  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star-half fa-flip-horizontal fa-fw" aria-hidden="true"></i>  
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width: 75%"></div>
                        </div>   
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p> Jcl</p>
                    </div>
                    <!-- <div class="col-3 "> 
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                             style="width: 70%"></div>
                        </div>   
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                        <p> SAS </p>
                    </div>
                    <!-- <div class="col-3 "> 
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star  fa-fw" aria-hidden="true"></i>
                        <i class="fa fa-star fa-fw" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 ">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                            role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                             style="width: 50%"></div>
                        </div>   
                    </div>

                </div>
            </div>
            <!-- fin bloc 2 droite  -->
        </div>
        <!-- fin bloc 2 -->

        <!-- Debut Bloc 3 -->
        <div class="row r3   ">
            <!-- <div class="col-3 s2-r3-col-g offset-1 my-5 item1">    -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 s2-r3-col-g offset-md-1 my-lg-5 my-md-5 ">                                         
                    <ul class="">
                        <li class="">Maven</li>
                        <li class="">IntelliJ IDEA</li>
                        <li class="">Eclipse</li>
                        <li class="">Visual Studio</li>
                        <li class="">Sub repository (SVN) </li>
                    </ul>
            </div>
            <div class="col-12  col-sm-6 col-md-4 col-lg-3 col-xl-3 s2-r3-col-g offset-lg-1 my-lg-5 my-md-5 ">                                         
                <ul class="">
                    <li class="">Postman</li>
                    <li class="">Jenkins</li>
                    <li class="">Sonar</li>
                    <li class="">Git</li>
                    <li class="">SAS Entreprise guide</li>
                </ul>
             </div>
             <!-- <div class="col-4 s2-r3-col-d my-5 offset-1 item3"> -->
            <div class="col-12  col-sm-12 col-md-3 col-lg-4 col-xl-4 s2-r3-col-d    ">
                <h4 > LOGICIELS </h4>
            </div>
        </div>
        <!-- fin bloc 3 -->

        <!-- Debut Bloc 4  -->
        <!-- <div class="row">
            <div class="col s2-r4-col-g">
                <p>
                    SGBD                                                     
                </p>
            </div>
        </div> -->
        <!-- fin Bloc 4 -->
    </div>
</div>
<!-- 
<div class="section s3">
    <div class="container-fluid px-5 ">
        <div class="row">
            <div class="col colgauche ">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                      <h5 class="card-title">Info card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                <p>je suis haroon iliasse.
                    j ai 28 ans.je suis un analyste programmeur du mainframe cobol.A la base, 
                    je suis un chimiste mais comme je ne trouvais pas du travail dans ce domaine, je me suis dit tiens pourquoi de ne pas 
                    faire une reconversion dans l'informatique et de lancer ma carrière dedans.Du coup, j ai fait presque 2 mois de formation cobol  
                    ensuite j ai fait ma 1 er mission c était   chez covea.Actuellement,je travail pour eux  depuis 4 ans en tant que analyste programmeur 
                    au sein de l équipe descisionnel.mon travail consistait à développer et concevoir de plusieurs projets iard et sinsitres et assurer les 
                    applications en cours.
                    Dans l'exercice de ma fonction, j'ai l'occasion de monter en compétence  rapidement sur sas.Zn effet, j ai une compétence
                    liée à l'utilisation avancé sur sas à savoir l’extraction, analyse et manipulation des bases de données.ce qui fait que j’ai une double compétence.
                    C’est quelque chose qui va apporter plus dans l’equipe si jamais demain on a un projet qui demande à la fois connaissance sur cobol et sas.
                    cette expérience m'a permis de travailler en équipe,en autonomie et de perfectionner mes compétences analytique et m à appris à être organiser 

                </p>
            </div>
            <div class="col coldroite">

            </div>
        </div>
    </div>
</div> -->
