.bdy{
    min-height: 100vh;
    background-color: #000814;
    font-size: clamp(0.6rem, 1vw, 1.2rem); 
} 

h5,h4{
    font-size: clamp(1rem, 1.5vw, 1.5rem); 
}
.colonnegauche{
   
    color: white;
    text-align: center;
    padding-top: 15%;
    min-height: 100vh;
}
 

.colonnedroite{
    
      min-height: 100vh; 
      
    
}

 

.fa{
    color: white;
    padding-top: 10%;
    /* animation: myAnim 5s linear 1s infinite normal forwards; */
    animation: cg 2s linear infinite forwards  ;
    animation-name: cg; 
    animation-duration: calc(35s/var(--i));
}

.learn{
    margin-left: 60%;
	width: auto;
	height: auto;
    color: black;
	background-color: rgb(229, 192, 8);
    animation-name: savoirplus;
    animation-duration: 20s;
	/* animation: light 5s linear   infinite  ; */
    /* animation-iteration-count: infinite;   */
    /* animation: myAnim 8s linear 0s 1 normal forwards; */
}

.btn-primary{
	margin-left:80%;
	 
}

h4{
	letter-spacing: 5px; 
	width: 100%;
    text-align: center;
	/* -webkit-box-reflect: below 1px linear-gradient(transparent,#000814); */
    /* animation: myAnimh4 5s linear 0s 1 normal forwards; */
	animation: light 5s linear   infinite  ;
	outline: none;
	line-height: 1.5em;
	 
}

h5{
	letter-spacing: 5px; 
	width: 100%;
    text-align: center;
    /* animation: myAnimh5 4s linear 0s 1 normal forwards; */
	animation: light 5s linear   infinite  ;
	outline: none;
	line-height: 1.5em;
}

 

/* p {
    animation-duration: 3s;
    animation-name: slidein;
  } */


/* @keyframes savoirplus {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
} */

/* @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */



@media (max-width : 576px){
	.bdy{
		font-size: 0.6rem;
	}
	.colonnedroite{
		display: none;
	}
	.colonnegauche{
		margin-top: 10%;
		text-align: center;
	}
	.learn{
		float: right;
		/* display: block; */
		margin:auto;
		width: auto;
		height: auto;	
   }
 
}

@media (max-width:935px) {
	.learn{
		 margin: auto;
		 display: block;
		 background-color: rgb(229, 192, 8);
	}
	.colonnegauche{
		padding-top: 25%;
	}
}

@media (max-width:766px) {
	.colonnedroite{
		display: none;
	}
	.colonnegauche{
		padding-top: 40%;
	}
}


@keyframes light {

	0%,18%,20%,50.1%,60%,80%,90.1%,92%{
		color: #f48c06;
		text-shadow: none;
	}
	18.1%,20.1%,30%,50%,60%,65%,80.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		0 0 20px #03bcf4,
		0 0 40px #03bcf4,
		0 0 80px #03bcf4,
		0 0 160px #03bcf4,
	}
}

@keyframes myAnimh5 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

@keyframes myAnimh4 {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 0;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
         
		transform: translateX(-68px);
	}

	72% {
		animation-timing-function: ease-out;
        
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(45px);
	}

	24% {
		opacity: 0;
	}


	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
        opacity: 0;
	}

	70% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
        /* opacity: 0; */
	}

    /* 75% {
		opacity: 0;
	} */


	80% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
        
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(8px);
	}

    
	97% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes cg {
	0%{
		opacity: 0;
		transform: translateY(-30vh) scale(0.3);
	}

    /* 25% {
		opacity: 1;
		transform: translateY(100px) scale(1);
	}*/

	10% {
		opacity: 1;
		transform: translateY(1vh) scale(0.2);
	}

	40% {
		opacity: 1;
		transform: translateY(40vh) scale(0.1);
	}

    70% {
		opacity: 1;
		transform: translateY(80vh) scale(0.01);
	}

    /* 75% {
		opacity: 1;
		transform: translateY(700px) scale(1);
	}  */

	100%{
		opacity: 1;
		transform: translateY(80vh) scale(0);
	}
}