<div class="section  ">
    <div class="container-fluid bdy ">
        <div class="row ">
          <div class="col- col-md-6 col-xl-6 px-5 colonnegauche ">
              <h5 > Salut, je suis Haroon ILIASSE. </h5>  
              <h4 > Developpeur Fullstack Junior, basé en île-de-france. </h4>  
              <!-- <p > Je suis devenu un developpeur Fullstack  issu d'une reconversion que j'ai faite en mars 2022 après avoir
                   commencé ma carrière en tant que développeur cobol.✌️</p> -->

                   <!-- <a class="learn" routerLink="/propos">  En savoir plus >> </a>
                   <a class=" btn learn" class="btn btn-info" routerLink="/propos"> En savoir plus >> </a> -->
                   <button type="button" class="btn btn-info learn" 
                        routerLink="/propos">En savoir plus >>
                   </button>
                   <!-- <button class="btn btn-primary me-md-2" type="button">Button ss >></button> -->
                   <!-- <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                  </div> -->

              

                   <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
          </div>
           <div class="col-6 colonnedroite ">  
            <div class = "rain"> 
                <i class="fa fa-tint mx-5 " aria-hidden="true"  style="--i:15"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:10"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:18"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:11"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:12"></i>
                <i class="fa fa-tint mx-5 " aria-hidden="true" style="--i:19"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:13"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:11"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:15"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:18"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:16"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:12"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:17"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:13"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:14"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:10"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:16"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:19"></i>
          </div>
          <div class = "bord"> 

          </div>
          </div>   
          <!-- <div class="col-6 colonnedroite ">  
                              
          </div>    -->
        </div>
      </div>    
</div>
