<div class="section  ">
    <div class="container-fluid bdy ">
        <div class="row ">
          <div class="col- col-md-6 col-xl-6 px-5 colonnegauche ">

            <!-- <h5 > Bonjour, je suis Haroon ILIASSE </h5>  
            <h4 > Developpeur web & Java </h4>  -->
            
            <div class = "">
              <h5 #headElementh5 class="text"> </h5>
              <!-- <span #blinkElement class="blink"></span> -->
              <h4 #headElementh4 class="text"> </h4>
              <!-- <span #blinkElement class="blink"></span> -->
              <!-- <span #blinkElement class="blink"></span> -->
            </div>

            <!-- <div class="type">
              <div class="p1">
                <div class="typewriter_1">
                  Passionné d'informatique et doté d’une grande curiosité, je suis un developppeur 
                </div>
              </div>

              <div class="p1">
                <div class="typewriter_2">
                  java débutant.Je développe aussi bien en back qu'en front avec une appétence  
                
                </div>
              </div>

              <div class="p1">
                <div class="typewriter_3"> 
                pour le web.Je suis aujourd hui à la recherche d’une première mission java en
                </div>
              </div>

              <div class="p1">
                <div class="typewriter_4"> 
                  région parisienne pour lancer ma carrière Développeur java. Vous souhaitez en 
              </div>
              </div>

              <div class="p1">
                <div class="typewriter_5"> 
                  savoir plus sur mon parcours et mes compétences ! 
                </div>
              </div>
          </div> -->
<!-- 
          <div [@Grow]="stateGrow">Hello {{name}} >
 
          </div> -->

          <div class = "typing">
              <p #textElement class="text"> </p>
              <!-- <span #blinkElement class="blink"></span> -->
          </div>
<!-- 
          <div id="container">
            <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </span>
       
          </div> -->
   

 
          <button type="button" class="btn learn" 
             routerLink="/propos"> c'est par ici >>
          </button>
                <!-- ✌️ -->

                   <!-- <a class="learn" routerLink="/propos">  En savoir plus >> </a>
                   <a class=" btn learn" class="btn btn-info" routerLink="/propos"> En savoir plus >> </a> -->
                   <!-- <button class="btn btn-primary me-md-2" type="button">Button ss >></button> -->
                   <!-- <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="button">Button</button>
                    <button class="btn btn-primary" type="button">Button</button>
                  </div> -->
                   <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
          </div>
           <div class="col-6 colonnedroite ">  
            <div class = "rain"> 
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:19"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:12"></i>
                <i class="fa fa-tint mx-5 " aria-hidden="true"  style="--i:15"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:10"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:18"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:11"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:12"></i>
                <i class="fa fa-tint mx-5 " aria-hidden="true" style="--i:19"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:13"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:11"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:15"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:18"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:16"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:12"></i>
                <i class="fa fa-tint mx-4 " aria-hidden="true" style="--i:17"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:13"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:14"></i>
                <i class="fa fa-tint mx-1 " aria-hidden="true" style="--i:10"></i>
                <i class="fa fa-tint mx-2 " aria-hidden="true" style="--i:16"></i>
                <i class="fa fa-tint mx-3 " aria-hidden="true" style="--i:19"></i>
          </div>
          <div class = "bord"> 

          </div>
          </div>   
        </div>
      </div>    
</div>
